footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    color: #666;
    padding: 20px 5%;
}

footer article{
    position: relative;
    margin-bottom: 20px ;
    text-align: center;
}

footer i{      
    color: #1259c3;
    font-size: 2em;
    padding: 10px;
    
    
}

footer i:hover{
    color: rgb(14, 204, 238);
    cursor: pointer;
}

footer div p{
    width: 100%;
}
