.logo-plus{
    display: flex;
    justify-content: space-around
    
    
}

.logo{
    width: 45%;
}


.boxx{
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate(-50%,-50%);

}
input.src{
    display: inline-block;
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 16px;
    border-radius: 15px;
    color: #444;
    border: none;
    background: rgb(255, 255, 255);
    width: 290px;
    transition: all .5s;
}
input.src:hover{
    width: 350px;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, 20%);
    box-shadow: 0 0 5px #444;
    

}
    

.botonBusqueda{
    
background-color:#EAC926;
border: none;
width: 22px;
height: 22px;
}


   

.fas.fa-search{
    font-size: 18px;
}

.fas.fa-search:hover{
    font-size: 22px;
}



.banner{
    padding-top: 227px
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

div.burger-menu i:hover{
    cursor: pointer;
    background-color: #0022AA;
}



.copy-header{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 150px;
    margin-left: -50px;
    
}

h3{
    font-size: 24px;
}

header{
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 2;
    
}

.fin{
    color: black;
}

.header-bottom-bar{
    display: none;
}



header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: rgb(97, 97, 97);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

header ul li a:hover{
  color: black;
}